<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Dodaj osobę</title>
</head>
<body>

<h1>Dodaj osobę</h1>

<form th:action="@{/people/add}" th:object="${person}" method="post">

    <label>Imię:
        <input type="text" th:field="*{firstName}" />
    </label>
    <br><br>

    <label>Nazwisko:
        <input type="text" th:field="*{familyName}" />
    </label>
    <br><br>

    <button type="submit">Dodaj</button>
</form>

<br>
<a th:href="@{/people}">Powrót do listy</a>

</body>
</html>
